<!-- Quiz2 Refactor 20150910 -->

<h2 class="text-center">FHP week 3, Quiz 2:</h2>
<h3>Add comments here:</h3>
<br />

<div class="col-xs-10 col-xs-offset-1">
	<%= simple_form_for Sample.new do |f| %>
		<%= f.input :comment %>
		<%= f.input :author %>
		<%= f.input :email %><br />
		<%= f.submit 'Add Comment', :class => "pull-right" %>
	<% end %>
</div>


<br />
<h3>Comments:</h3>
<% @samples.each do |sample| %>
	<div class="dispbox col-xs-10 col-xs-offset-1">
		<p class="text-center">"<%= sample.comment %>"</p>
		<small class="pull-right"><%= sample.author %> | <%= sample.email %></small>
	</div>
<% end %>