<!DOCTYPE html>
<html>
<head>
  <title>Quizlet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:error].present? %>
	<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
		<%= flash[:error].html_safe %>
	</div>
<% end %>


<%= yield %>



</body>
</html>
